body{
 
 margin: auto;
 
    
  
   
  
}

::-webkit-scrollbar{
    border:5px solid transparent;
    border-radius: 100px;
    background-color: rgb(192, 165, 174);
    background-clip:content-box ;
    
    
}

:root{
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%

      );
      --background: white;
      --foreground: black;
     
      
}
